/* ToDo: HTML and CSS audit / reorg */

/* global wrapper */
#main-wrapper {
  position: relative;
  border: 1px solid black;
  width: 240px;
  height: 320px;
  display: flex;
  flex-direction: column;
}

#main-header {
  text-align: center;
  background-color: hsl(0, 0%, 25%);
  color: white;
}

/* Tab section */
#tab-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.radioLabel {
  border-bottom: 4px solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding-block: 2px;
  cursor: pointer;
}

/* Controlling radio values via label clicks */
input[type="radio"] {
  display: none;
}

/* Active Label display */
input[type="radio"]:checked + .radioLabel {
  background-color: hsl(0, 0%, 92%);
  border-bottom: 4px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .radioLabel:hover,
  .radioLabel:focus {
    border-bottom: 4px solid hsl(0, 0%, 82%);
  }
}

/* Conditional Display Sections */

/* Used in all sections */

/* Full width content wrapper that uses odd/even background color */
.rowWrapper {
  width: 100%;
  padding-block: 2px;
}

.rowWrapper:nth-of-type(odd) {
  background-color: white;
}

.rowWrapper:nth-of-type(even) {
  background-color: hsl(0, 0%, 92%);
}

.label {
  font-size: 1.15rem;
  text-align: center;
}

.hidden {
  display: none;
}

/* Width limited content container within bckground colored row  */
.rowContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin: auto;
  width: 70%;
}

/* Labor Info */

/* Avg Checkbox - using label to control hidden input */
#labor-display-avg-label {
  width: 35px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  border: 1px solid black;
  text-decoration: line-through;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

/* Active state when displaying Average values */
input[type="checkbox"]:checked + #labor-display-avg-label {
  background-color: hsl(0, 0%, 92%);
  text-decoration: underline;
}

/* Energy Section */

.flexEndContent {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  width: 70%;
}

/* Settings section */

.settingContent {
  width: 90%;
  margin: auto;
}

.settingLabel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin: auto;
  font-size: 1.4rem;
}

#tick-length-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 90%;
  font-size: 1.1rem;
}

/* Applied to tick-length-label when set to 0 */
.inactive {
  text-decoration: line-through;
  color: hsl(0, 0%, 39%);
}

#tick-length-input {
  width: 2.5rem;
}

#no-tick-label {
  width: 90%;
  margin: auto;
}

#reset-button {
  width: 50%;
}

/* Bottom Content */

/* Active contraction display */
#active-contraction-wrapper {
  position: absolute;
  bottom: 12%;
  width: 100%;
}

/* Buttons */
#buttonRow {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border-color: hsl(0, 0%, 92%);
}

#food-button {
  flex: 1;
  border-radius: 0 10px 0 0;
}

#drink-button {
  flex: 1;
  border-radius: 10px 0 0 0;
}

#contract-button {
  flex: 2;
  border-radius: 10px 10px 0 0;
}
