.body {
  padding: 12px 16px;
  border: solid 1px var(--primaryBorder);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.totalCard {
  justify-content: space-between;
}

.totalContractionLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}
