.settingsContent {
  width: 90%;
  margin: auto;
}

.settingLabel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin: auto;
  font-size: 1.4rem;
}

.tickLengthWrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 90%;
  font-size: 1.1rem;
}

/* Applied to tick-length-label when set to 0 */
.inactive {
  text-decoration: line-through;
  color: hsl(0, 0%, 39%);
}

.tickLengthInput {
  width: 2.5rem;
}

.zeroTimeText {
  width: 90%;
  margin: auto;
}
