.wrapper {
  cursor: pointer;
  min-width: 150px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  border-radius: 8px;
}

.input {
  display: none;
}

.option {
  height: 100%;
  z-index: 1;
  color: inherit;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px transparent;
}

.wrapper:hover > .inactive {
  border-color: var(--primary);
}

.active.option {
  z-index: 1;
  color: white;
}

.background {
  position: absolute;
  left: 0;
  width: 41%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 8px;
  transition: all 250ms ease-in-out;
}

.optionTwoBackground {
  transform: translateX(100%);
  width: 50%;
  transition: all 250ms ease-in-out;
}
