.circle {
  min-width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsla(var(--primary-hsl), 10%);
  padding: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  max-width: 48px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--primary);
}
